body {
  position: relative;
  display: block;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.logo {
  position: relative;
  left: 0;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
}

.logo__circle {
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #c8dbfb;
  left: 8px;
  top: 56%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  opacity: 0.7;
}

.menu {
  margin-top: 33px;
  margin-right: 108px;
  padding: 40px 0;
  align-items: center;
}

.menu__item-max {
  position: relative;
  margin-right: 26px;
  font: bold 15px/20px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item-max::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item-max:hover {
  opacity: 0.7;
}

.menu__item-max:hover::after,
.menu__item-max_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 63% 100px 0;
}

.main__title {
  margin: 0 0 44px 0;
  font: bold 50px/65px 'PT Serif', arial, helvetica, sans-serif;
  padding-top: 14px;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 600 18px/21px 'Roboto', arial, helvetica, sans-serif;
}
.main__subtitle-mobile {
  display: none;
}
.main__button {
  display: inline-block;
  font: 600 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 19px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5;
  margin-bottom: 65px;
}

.main__button:hover {
  opacity: 0.5;
}

@media (max-width: 1920px) {

  .logo {
    left: 4px;
    top: -25px;
  }

  .menu {
    position: relative;
    left: 116px;
    top: -27px;
  }

  .menu__item-max {
    margin-right: 21px;
    font: bold 18px/20px 'Roboto', arial, helvetica, sans-serif;
  }
  .main {
    background: top right no-repeat url(mainImg-1920.svg);
  }
  .main__title {
    font: bold 66px/86px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: 63px;
  }

  .main__subtitle {
    font: 22px/25px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 4px;
    top: 58px;
    margin: 0 0 106px 0;
  }

  .main__button {
  font: 600 19px/25px 'Roboto', arial, helvetica, sans-serif;
  position: relative;
  top: -3px;
  left: 4px;
  }

}

@media (max-width: 1366px){

  .header {
    margin-bottom: 0;
  }
  .logo {
    left: 81px;
    top: -24px;
  }

  .menu {
    position: relative;
    left: 43px;
    top: -25px;
  }

  .menu__item-max {
    margin-right: 21px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }
  .main {
    background: top 33px right 83px no-repeat url(mainImg-1366.svg);
  }
  .main__title {
    font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: -42px;
    left: 81px;
  }

  .main__subtitle {
    font: 503 18px/20px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 81px;
    top: -46px;
    margin: 0;
  }

  .main__button {
  font: 507 14px/16px 'Roboto', arial, helvetica, sans-serif;
  position: relative;
  top: -3px;
  left: 81px;
  margin-bottom: 110px;
  }

}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 0;
  }

  .wrapper {
    width: 100%;
  }

  .logo {
    left: 46px;
    top: -26px;
  }

  .menu {
    position: relative;
    left: 76px;
    top: -26px;
  }

  .menu__item-max {
    margin-right: 20px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    background: top 20% right 9% no-repeat url(mainImg-1024.svg);
  }

  .main__title {
    font: bold 50px/65px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: -42px;
    left: 44px;
  }

  .main__subtitle {
    font: 502 18px/21px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 46px;
    top: -46px;
    margin: 0 0 106px 0;
  }

  .main__button {
    font: 501 14px/15px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    top: -110px;
    left: 45px;
    margin-bottom: 100px;
  }

@media (max-width: 768px) {

  .wrapper {
    width: 100%;
  }

  .logo {
    left: 46px;
    top: -26px;
  }

  .menu {
    position: relative;
    left: 76px;
    top: -26px;
  }

  .menu__item-max {
    margin-right: 20px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    background: top 35% right 9% no-repeat url(mainImg-1024.svg);
    background-size: 50%;
  }

  .main__title {
    font: bold 38px/50px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: -10px;
    left: 44px;
  }

  .main__subtitle {
    font: 500 14px/17px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 46px;
    top: -28px;
    margin: 0 0 25px 0;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    top: -28px;
    left: 44px;
    margin-bottom: 100px;
  }

@media (max-width: 375px) {
  .header {
    margin-bottom: 28px;
  }

  .menu__item-max {
    display: none;
  }

  .logo {
    left: 26px;
    top: -30px;
  }

  #menu__toggle {
   opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .main {
    text-align: center;
    background: top -95% right 49% no-repeat url(mainImg-mobile.png);
  }

  .main__title {
    font: bold 30px/40px 'PT Serif', arial, helvetica, sans-serif;
    position: absolute;
    left: 20%;
    top: 68%;
  }

  .main__subtitle-mobile {
    font: medium 15px/11px 'Roboto', arial, helvetica, sans-serif;
    position: absolute;
    top: 97%;
    left: 19%;
  }

  .main__button {
    font: 500 15px/13px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    top: 324px;
    left: 0px;
    margin-bottom: 100px;
  }
}
*/
