body {
  position: relative;
  display: block;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.logo {
  position: relative;
  left: 0;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
}

.logo__circle {
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_blue {
  background: #c8dbfb;
  left: 8px;
  top: 56%;
  opacity: 0.7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  opacity: 0.7;
}

.menu {
  margin-top: 33px;
  margin-right: 108px;
  padding: 40px 0;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: bold 15px/20px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.7;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 63% 100px 0;
}

.main__title {
  margin: 0 0 44px 0;
  font: bold 50px/65px 'PT Serif', arial, helvetica, sans-serif;
  padding-top: 14px;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 600 18px/21px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 600 14px/16px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 19px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5;
  margin-bottom: 65px;
}

.main__button:hover {
  opacity: 0.5;
}
@media (max-width: 1920px) {

  .logo {
    left: 4px;
    top: -25px;
  }

  .menu {
    position: relative;
    left: 116px;
    top: -27px;
  }

  .menu__item {
    margin-right: 21px;
    font: bold 18px/20px 'Roboto', arial, helvetica, sans-serif;
  }
  .main {
    background: top right no-repeat url(mainImg-1920.svg);
  }
  .main__title {
    font: bold 66px/86px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: 63px;
  }

  .main__subtitle {
    font: 22px/25px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 4px;
    top: 58px;
    margin: 0 0 106px 0;
  }

  .main__button {
  font: 600 19px/25px 'Roboto', arial, helvetica, sans-serif;
  position: relative;
  top: -3px;
  left: 4px;
  }

}

@media (max-width: 1366px){

  .logo {
    left: 81px;
    top: -24px;
  }

  .menu {
    position: relative;
    left: 43px;
    top: -25px;
  }

  .menu__item {
    margin-right: 21px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }
  .main {
    background: top -45px right 83px no-repeat url(mainImg-1366.svg);
  }
  .main__title {
    font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: -42px;
    left: 81px;
  }

  .main__subtitle {
    font: 503 18px/20px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 81px;
    top: -46px;
    margin: 0;
  }

  .main__button {
  font: 507 14px/16px 'Roboto', arial, helvetica, sans-serif;
  position: relative;
  top: -3px;
  left: 81px;
  margin-bottom: 110px;
  }

}

@media (max-width: 1024px) {

  .wrapper {
    width: 100%;
  }

  .logo {
    left: 46px;
    top: -26px;
  }

  .menu {
    position: relative;
    left: 76px;
    top: -26px;
  }

  .menu__item {
    margin-right: 20px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    background: top 35% right 9% no-repeat url(mainImg-1024.svg);
  }

  .main__title {
    font: bold 50px/65px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: 38px;
    left: 44px;
  }

  .main__subtitle {
    font: 502 18px/21px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 46px;
    top: 36px;
    margin: 0 0 106px 0;
  }

  .main__button {
    font: 501 14px/15px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    top: -28px;
    left: 44px;
    margin-bottom: 100px;
  }

@media (max-width: 768px) {

  .wrapper {
    width: 100%;
  }

  .logo {
    left: 46px;
    top: -26px;
  }

  .menu {
    position: relative;
    left: 76px;
    top: -26px;
  }

  .menu__item {
    margin-right: 20px;
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    background: top 35% right 9% no-repeat url(mainImg-1024.svg);
  }

  .main__title {
    font: bold 50px/65px 'PT Serif', arial, helvetica, sans-serif;
    position: relative;
    top: 38px;
    left: 44px;
  }

  .main__subtitle {
    font: 502 18px/21px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    left: 46px;
    top: 36px;
    margin: 0 0 106px 0;
  }

  .main__button {
    font: 501 14px/15px 'Roboto', arial, helvetica, sans-serif;
    position: relative;
    top: -28px;
    left: 44px;
    margin-bottom: 100px;
  }

@media (max-width: 540px) {
    .menu {
      margin-top: 5px;
    }
    .menu__item {
      display: none;
    }
    .logo__title {
      display: none;
    }
    .menu-btn {
      margin-left: 120%;
      margin-bottom: 65%%;
      display: block;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      position: relative;
    }
    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: #222;
    }

    .menu-btn span::before,
    .menu-btn span::after {
      content: '';
      display: block;
      transition: 0.2s;
    }

    .menu-btn span::before {
      transform: translateY(-5px);
    }

    .menu-btn span::after {
      transform: translateY(5px);
    }

    .menu-btn_active span::before {
      transform: rotate(-35deg);
      width: 10px;
      transform-origin: left bottom;
    }

    .menu-btn_active span::after {
      transform: rotate(35deg);
      width: 10px;
      transform-origin: left top;
    }

    .header {
      margin-bottom: 28px;
    }

    .main {
      text-align: center;
      padding: 74% 0 0;
      background-size: 74%;
      background-position: top center;
      background: top right no-repeat url(mainImg-mobile.svg);
    }

    .main__title {
      margin-bottom: 44px;
      font: bold 30px/39px 'PT Serif', arial, helvetica, sans-serif;
    }

    .main__subtitle {
      margin-bottom: 25px;
      font: medium 16px/19px 'Roboto', arial, helvetica, sans-serif;
    }

    .main__button {
      font: medium 14px/16px 'Roboto', arial, helvetica, sans-serif;
    }
  }

@media (max-width: 376px) {
  .menu {
    margin-top: 5px;
  }
  .menu__item {
    display: none;
  }
  .logo__title {
    display: none;
  }
  .menu-btn {
    margin-left: 120%;
    margin-bottom: 65%%;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }

  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }

  .menu-btn span::before {
    transform: translateY(-5px);
  }

  .menu-btn span::after {
    transform: translateY(5px);
  }

  .menu-btn_active span::before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
  }

  .menu-btn_active span::after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
  }

  .header {
    margin-bottom: 28px;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
    background: top right no-repeat url(mainImg-mobile.svg);
  }

  .main__title {
    margin-bottom: 44px;
    font: bold 30px/39px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: medium 16px/19px 'Roboto', arial, helvetica, sans-serif;
  }

  .main__button {
    font: medium 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }
}
