*{
  border: dashed 1px red;
}
body {
  position: relative;
  display: block;
  margin: 0;
}
.wrapper{
  width: 80%;
  margin: auto;
  border: dashed 1px red;
}
.header {
 display: flex;
 justify-content: space-between;
}
.logo {
  padding: 40px 0;
  font-family: PT Serif;
  font-size: 24px;
  font-style: normal;
  font color: black;
  }
.menu {
  padding: 40px 0;
  display: flex;
  align-items: center;

  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font color: black;

}
.menu__item {
  padding: 0 13px;
  display: inline-block;

  text-decoration: none;
  position: relative;
 }
.menu__item:last-child{
  padding-right: 0;
}
.menu__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.menu__item:hover {
  color: #0056EC;
}
.menu__item:hover:after {
  opacity: 1;
}
.main-section{
}
.main-content {
}
.main-content__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
 }
.main-content__p {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}
.main-content__button {
  background-color: #0056EC;
  font-family: 'Roboto Mono', monospace;
  font-style: bold;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
}
.image-content__image {

}
